replicaCount: 3

image:
  repository: nginx
  tag: "1.21"

ingress:
  enabled: false
  host: example.com

service:
  enabled: true
  type: ClusterIP
  port: 80

resources:
  enabled: false
  limits:
    cpu: 100m
    memory: 128Mi
